<div class="container is-centered">
  <div class="notification">
      <div class="card">
          <div class="card-image">
              <figure class="image">
                  <!-- TODO Insertar logo correspondiente aqui -->
                  <img src="assets/images/logo.gif" alt="lazo naranja" style="height: 400px; width: 250px; margin-left: auto; margin-right: auto">
              </figure>
          </div>
          <div class="card-content">
              <div class="subtitle">
                  <b>{{'start.advertencias' | translate}}</b>
              </div>
              <div class="content has-text-danger">
                  <p [translate]="'start.text'"></p>
              </div>
              <a class="button is-large is-info is-fullwidth" routerLink="/advertencias">{{ 'start.entrar' | translate }}</a>
          </div>
      </div>

  </div>
</div>
