<div class="container">
  <div class="notification">
      <b class="is-size-5">{{'advertencias.title'|translate}}</b>
      <p class="is-size-6">{{'advertencias.text'|translate}}</p>
  </div>
</div>
<br/>
<div class="container">
  <div class="notification">
    <a class="button is-link is-fullwidth" routerLink="/analize">{{'advertencias.acceptButton'|translate}}</a>
    <br/>
    <a class="button is-danger is-fullwidth" routerLink="/start">{{'advertencias.declineButton'|translate}}</a>
  </div>
</div>