<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      
      <div class="navbar-item">
        <img src="../assets/images/españa.jpg"  (click)="useLanguage('es')">
      </div>
      
      <div class=navbar-item>
          <img src="../assets/images/uk.png" style="height: 75px" (click)="useLanguage('en')">
      </div>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </nav>
  



<router-outlet></router-outlet>
